.row {
    margin: 0 !important
}

md-spinner {
    text-align: center;
    width: 100%;
    margin-top: 50px
}

.section-title {
    font-size: 15px;
    font-weight: bold;
    color: #777;
}

strong {
    font-size: 13px;
    color: #444;
}